@charset "utf-8";
@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('./fontello.css');
/* 초기화 */

*,*::before,*::after {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
/* 숨김 콘텐츠 */
.a11y-hidden,legend {
    background-color: red;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;

}
/* clearfix float 이슈를 해결하기 위한 선언 */
.clearfix::after{
    content: "";
    display: block;
    clear: both;

}
 html{
     font-size: 10px;
 }
/* a:link{
color: inherit;

}a.visited{
    color: #999;

}a:hover,a:focus{
    color: red;
} */
body{
    font-size: 1.4rem;
    margin: 0;
    color: #181818;
    font-family: 'Spoqa Han Sans','Sans-serif';
    font-weight:400;
    background: gray;
}

.header,.visual,.main-content,.slogan,.footer{
    margin: 0 auto;
    width: 940px;
}

.header{    
    box-sizing: border-box;
    background-color: pink;
    position: relative;
    padding: 0 30px 50px 30px;
}
/* 로고 */
.logo{
    margin: 0;
    position: absolute; 
    top:45px;
    left:70px;
    /* z-index: 10; */
}
/* 멤버링크 */
.member{
    
list-style-type:none;
margin: 0;
padding: 2px 0;
/* background-color: yellow; */
position: relative;
right: -10px;
font-size: 0;
text-align: right;

/* display: flex;
flex-direction: row;
justify-content: flex-end;
height: 100px;
align-items: center; */

}
.member li{
    display:inline-block;
    /* margin-left: -5px; 안됨*/
    font-size: 1.4rem;
    text-transform: uppercase;

}
/* .member li::before{
    background-color: darkorange;
    content: '\f142';
    font-family: "fontello";
     */

.member li:nth-child(n+2)::before{

    content: '\f142';
    font-family: "fontello";
    /* width:1em;
    display:inline-block;
    margin: 0 0.2em; */
}
.member a{
    padding: 8px 10px;
    display: inline-block;


}

/* .member a{
    
} */
.menu{
    /* position: relative; */
    background-color: yellow;
    padding-left: 225px;
    list-style: none;
    margin: 5px 0 0 0;
    background: linear-gradient(to bottom, #e8bc2e 0%,#ef8426 30%,#f99b2f 70%,#edd380 100%); 
    border-radius: 0 0 5px 5px;
    /* border-top:  2px solid #000; */
    box-shadow: 0 -2px 2px 0 #000;
    /* height: 45px; */
    /* overflow: auto; */


}.menu::after{
    background-color: lime;
    content: "";
    clear:both;
    display: block;


/* }.menu > li{ */
    
}
.menu-item{
    float: left;
   position: relative;
    
}
/* a 요소 인라인 */
.btn-menu{
    /* 박스의 높이 */
    height: 45px;
    /* 한줄의 라인 */
    line-height: 45px;
    display: block;
    border-left: 1px solid rgba(255,255,255,0.5);
    padding:0 20px;
    font-weight: 700;
    font-size: 1.6rem;
    color: #fff;
    text-shadow: 1px 0 0 #000,-1px 0 0 #000,0 1px 0 #000,0 -1px 0 #000;

}
.menu-act .btn-menu{
    color:#ff0;
    /* border-bottom: 2px solid #000; */
}
.menu-act .btn-menu::after{

    content: "";
    /* background-color: blue; */
    display: block;
    border-top: 2px solid #000;
}

.sub-menu{
    padding-left: 0;
    list-style: none;
    margin: 0;
    background: yellow;
    position: absolute;
    display: none;
    white-space: nowrap;

}
.sub-menu li,.sub-menu1 a{

    display: inline-block;

}
.sub-menu1 a{
    
    padding: 10px 0 10px 0;
    margin-right: 10px;
}
 .menu-act .sub-menu{

    display: block;
    top: 47px;
    
}
.sub-menu1,.sub-menu2,.sub-menu3{
    left: 0;
}.sub-menu4,.sub-menu5,.sub-menu6{
    right: 0;
}

/* 비주얼 */
@keyframes textAni{
    0%{
        font-size:12px;
        color: rgba(0,0,0,0);
        /* padding: 0; */
        /* margin: 0; */
        /* top: 0;
        left: 0; */
        transform: translate(0,0);

    }
    100%{
        font-size:24px;
        color: rgba(0,0,0,1);
        transform: translate(400px,75px);
        /* padding: 75px 0 0 400px; */
        /* top: 75px;
        left: 400px; */
    }
}
@keyframes bgAni{

    0%{opacity: 1;}
    100%{opacity: 0;}
    
}
.visual{
    position: relative;
    background: lime;
    height: 120px;

}.visual::before, .visual::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    /* animation-name: bgAni;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out; */
    /* animation-play-state: paused; */
    animation: bgAni 2000ms infinite alternate ease-in-out ;
}.visual::before{
    /* background-color: silver; */
    /* background-image: url("./images/ani_flower_01.png"),url("./images/ani_flower_02.png");
    background-repeat: no-repeat;
    background-position: 0 -10px, 670px 0; */
    background: url("./images/ani_flower_01.png") no-repeat 0 -10px,
                url("./images/ani_flower_02.png") no-repeat 670px 0;

    /* z-index: 10; */

}.visual::after{

    animation-delay: 1000ms;
    /* background-color: aqua; */
    background: url("./images/ani_flower_03.png") no-repeat 300px 0,
                url("./images/ani_flower_04.png") no-repeat 800px 15px;
}
.visual-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    background-color: yellow;
    animation-name: textAni;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}
.main-content{

    min-height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

    /* background-color: yellow; */


.group1{
   flex-basis: 250px;
   /* flex-grow: 2;
   flex-shrink: 1;
   flex: 50px 2 1; */
}
.group2{
    flex-basis: 380px;
    
    /* flex-grow: 1; */
}
.group3{
    flex-basis: 190px;
    background: #ef8426;
    /* flex-grow: 2; */
}
/* 로그인 */
/* section{
    width: 250px;
    height:160px;
    box-sizing: border-box;
} */



.login{
    background: #ef8426 radial-gradient(circle at right top,#f7cc31,#ef8426);
    border-radius:5px;
    padding: 10px;
    box-shadow: 5px 5px 0 0 #666;

}.login-heading{
    margin: 0;
    text-indent: 10px;
    /* background: pink; */
    font-size: 1.5rem;
    color: #ff0;

}.login-form{
    background: #fff;
    border-radius: 5px 5px 0 0 ;
    margin-top: 10px;
    padding: 10px 10px 0 10px;

}.login-form fieldset{
    border: 0;
    padding: 0 0 10px 0;
    
    position: relative;
    border-bottom: 1px solid #aaa;
}
.login-form label{
    width: 4em;
    display: inline-block;
    
}
.login-form input{
    
    width: 90px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 5px;
}.user-pw{
    margin-top: 5px;

}
.btn-login{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #ef8426;
    background: #e8bc2e;
    padding: 0;
    color: #fff;
    border-radius: 3px;
    font: inherit;
}
.sign{
    background: #fff;
    border-radius: 0 0 5px 5px;
    margin: 0;
    
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}.sign li{
    font-size: 1.3rem;
}.sign li::before{
    color: #ef8426;
}


/* 유효성검사 배너 */
.validation-list{
    /* background:yellow; */
    list-style: none;
    padding-left:0;
    margin: 25px 0 20px 0;
    
}.validation-list li{
    margin: 10px 0;
    
}
.validation-list a{
    background: url('./images/validation_icon.png') no-repeat 20px 50%,linear-gradient(#ccc,#eee)repeat 0 0;
    display: block;
    border: 1px solid #aaa;
    border-radius: 30px;
    padding: 8px 0 10px 45px;


}.validation-list a:hover,.validation-list a:focus{
    color: #b60b0b;


/* }.term{
    background:linear-gradient(#aaa,#eee);
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #aaa;
    clear: both;
    margin: 
}
.term-heading{
    font-size: 1.6rem;
    padding-left: 20px;
}.term-list{
    
    padding: 20px;
}.term-list-subject{
    color: #296897;
    float: right;
    width: 60%;

}
.term-list-thumbnail{
    margin: 0;
    float: left;
    
   
    
}.term-list-brief{
    margin-inline-start: 0;
    float: right;
    width: 60%;
    
    
} */
    


/* .validation{
    margin-top: 20px;
}
.validation-list{
    list-style: none;
    padding: 10px;
    
    

}
.validation-list li:nth-child(1){
    background:linear-gradient(to top,#fff,#aaa);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;

}
.validation-list li:nth-child(2){
    background: linear-gradient(to top,#fff,#aaa);
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px 20px 20px 20px;
}.validation-list li:nth-child(1):hover{
color: red;
}.validation-list li:nth-child(2):hover{
    color: red;
}
 */


/* }.login-heading{
    color: yellow;
    padding: 0 20px;

}

.login-form,.sign{
    background: #fff;
    margin: 0;


}.login-form{
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid gray;
  display: inline-block;

}.btn-login{
    float: right;
    color: #fff;
    padding: 20px 20px;
    background: #ef8426 radial-gradient(circle at right top,#f7cc31,#ef8426);
}
.sign{
    list-style: none;
    border-radius: 0 0 5px 5px;
    padding: 0 20px;
    display: inline;
    

}} */
}.term{
    background:#ccc linear-gradient(#ccc, #eee);
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 10px 15px;
  }
  .term-heading{
    margin: 0;
    font-size: 1.5rem;
  }
  .term-list{
    margin: 10px 0 0 0;
  }
  .odd, .even{
    margin-top: 15px;
  }
  .odd::after, .even::after{
    content: "";
    clear: both;
    display: block;
  }
  .odd .term-list-subject, .odd .term-list-brief{
    float: right;
  }
  .odd .term-list-thumbnail{
    float: left;
  }
  .even .term-list-subject, .even .term-list-brief{
    float: left;
  }
  .even .term-list-thumbnail{
    float: right;
  }
  
  
  .term-list-thumbnail, .term-list-brief{
    margin: 0;
  }
  .term-list-subject, .term-list-brief{
    width: 145px;
  }
  .term-list-subject{
    margin: -2px 0 5px 0;
  }
  .term-list-thumbnail img{
    vertical-align: top;
  }
  .term-list-brief{
    line-height: 1.5;
  }
  /* 검색폼 */

  .search-form{
      background:#ccc linear-gradient(#ccc,#eee);
      padding: 15px 25px 10px;
      /* border-width: 1px 1px 0 1px;
      border-style: solid solid none solid;
      border-color: #aaa #aaa transparent #aaa; */
      border: 1px solid #aaa;
      border-bottom: 0;
      border-radius: 15px 15px 0 0;
      
      
    }
    .search-form fieldset{
        border: 0;
        padding: 0;
        margin: 0;
        /* background: #e8bc2e; */
        /* display: flex; */
        
    }.container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: center;
        text-align: center;

    }label[for^="search"],input[type^="search"],.btn-search{
        vertical-align: middle;
        
    }
    input[type^="search"]{
        height: 24px;
        border: 1px solid #aaa;
        padding: 1px 1px 1px 5px;
        width: 200px;
        border-radius: 3px;
        margin: 0 2px;
    }
    .btn-search{
        background: #121212;
        color: #fff;
        font: inherit;
        border: 1px solid #aaa;
        border-radius: 3px;
        padding: 0 10px;
        height: 24px;
        font-size: 1.3rem;
        
    }
    /* 공지사항  밑 자료실 */
    .board{
        /* background: yellow; */
        position: relative;

    } .board ul,.board .more{
        display: none;

    }.tab-act ul,.tab-act .more{
        display: block !important;
    }
    .board ul{
        /* background: pink; */
        margin: 20px 0;
        padding: 45px 0 0 0;
        list-style: none;

    }.board li{
        /* background: lime; */
        margin: 8px 0;
        display: flex;
        


        
    }.board li a{
        /* background: silver; */
        /* width: 100%; */
        width: 270px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    
    }.board time{
        /* background: orange; */
        margin-left: auto;

        
    }
    .board .more{
        /* background: skyblue; */
        position: absolute;
        top: 0;
        right: 0;

    }
    .notice-heading,.pds-heading{
        margin: 0;
        font-weight: 400;
        font-size: 1em;
        /* background: skyblue; */
        position: absolute;
        top: 0;


    }.notice-heading{
      left: 0;

    }.pds-heading{
      left: 73px;
    }
    .tab {
        display: block;
        border: 1px solid #aaa;
        border-radius: 5px 5px 0 0;
        background: #ccc linear-gradient(#ccc,#eee);
        padding: 5px 10px;
        color: #666;

    }.tab-act .tab{
        color: #ef8426;
        border-color: #ef8426 #ef8426 #fff #ef8426;
        background: #fff;
    }
    .more::before{
      color: hsla(110,70%20%,1);


    /* }.news{
        position: relative;
        background: #e8bc2e;

    }.news::before{
        content: "";
        position: absolute;
        top: 35px;
        left: 0;
        width: 80%;
        height: 1px;
        background: linear-gradient(to right, #aaa, #eee);
        background-color: #aaa;

    }.news-story{
        color:  #ef8426;
        background: pink;
        margin: 0;
        font-size: 1.5rem;
        padding: 10px 10px 10px 0;

    }.new-story1{
        
    }
    .news-body{
        height: 130px;
        
        display: block;
        float: right;
        width: 250px;
        
    }
    .body1-body{
        width: 130px;
        height: 130px;
    }
    
    .name{
        padding-top: 20px;
        margin: 0;
        font-size: 1.3rem;
        font-weight:700;
    }
    .news .more{
        margin-top: 10px;
        position: absolute;
        top: 0;
        right: 0;
        
        
    }
    .more::before{
        color: hsla(110,70%20%,1);
  

    
        }    .new-site{
        padding-top: 20px;
        height: 130px;
        margin: 0;
        width: 130;
        float: left;
        

    }.new-site figcaption{
        padding:18px 0 0 0; 
        text-align: center;

    }.new-site img{
    
        box-shadow: 0 15px 18px 1px #aaa; 

    }  */
    
    /* }.tab-act{
        background: #e8bc2e;
        position: relative;
       
    }.notice-list{
        background: pink;
        

    } .more{
        background: #666;
        position: absolute;
        top: 0;
        right: 0;
    }
    .notice-list li{
        list-style-type: none;
    }.pds{
        background: #aaa;
        position: absolute;
        

    } */

   
   
    
    
    
  /* .search-form{
      background: linear-gradient(#ccc,#eee);
      padding: 10px 5px;
      text-align: center;
      border-radius: 10px 10px 0 0;
      border: 1px solid #aaa;
      border-bottom: 0;
      
      

  }.search-form fieldset{
      border: 0;
      display: inline-block;
    

  }
  #search{

      border-radius: 5px;
      width: 200px;
      height: 24px;
  }
  .btn-search{
      background: #181818;
      color: #fff;
      border-radius: 5px;
      padding:0 10px;
      border: 1px solid #aaa;
      height: 24px;
      


  /* } 
  *새소식 */
    }
  .news{
      
      margin-top: 20px;
      position: relative;
   
  }.news::before{
      content: "";
      background: linear-gradient(to right #aaa,#fff);
      background-color: #aaa;
      position:absolute;
      top: 30px;
      left: 0;
      width: 80%;
      height: 1px;
  
  }.news-heading{
      margin: 0;
      font-size: 1.5rem;
      color: #ef8426;

  }.news-article{
      
      padding-left: 130px;
      position: relative;
      min-height: 105px;
  }
  .news-link{
      
      display: block;

  }.news-article-subject{
      margin: 30px 0 0 0;
      font-size:1.4rem;
      font-weight: 450;
      
      
  }.news-article-date{
      
      display: block;
      margin:5px 10;      
      
      
  }.news-article-brief{
      
      margin: 10px 5px;
      line-height: 1.5;
      
      
  }.new-article-thumbnail{
      margin: 0;
      position: absolute;
      top: 3px;
      left: 0;

  }.new-article-thumbnail img{
      box-shadow: 0 15px 15px 0 #aaa;

  }.new-article-thumbnail figcaption{
      
      text-align: center;
      margin-top: 15px;
  }
  .more{
      position:absolute;
      top: 0;
      right: 0;
  }
  
  /* 신규이벤트 및 관련 사이트 */


  .gradient-box{

      background: #ccc linear-gradient(#ccc,#eee);
      border: 1px solid #aaa;
      border-radius: 10px;

  }.point-color{
      color: #ef8426;
  }
  .event,.related{
      
      margin: 0 10px;
      
  }.event{
    
    position: relative;
  }
  .related{
      
      border-top: 1px solid #aaa;
      
  }.related-list{

      background: #fff;
      padding-left: 0;
      list-style: none;
      border: 1px solid #aaa;
      border-radius: 5px;
      height: 27px;
      overflow: hidden;
      transition: height 1s 0s,padding 1s 1s, background 2s 3s;

  }.related-list:hover,.related-list:focus {

    height: 147px;
    padding: 10px 0;
    background: yellow;
  }
  .related-list li{
      height: 25px;
      padding: 2px;
     
      position: relative;
  }.related-list a{
      /* background: #ffff00; */
      /* height: 100%; */
      width: calc(100% - 4px);
      position: absolute;

      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      /* position: absolute; */
      /* top: 0; */
      /* left: 0; */
      /* right: 0; */
      /* bottom: 0; */
  }
  .event-heading,.related-heading,.favorite-heading{

      margin:  10px 0;
      font-size: 1.5rem;
      
  }.event p{

      margin: 10px 0;
      line-height: 1.5;
  }
  .event img{
      border: 1px solid #aaa;
      box-shadow: 5px 5px 0 0 #aaa;

  }.event em{
      font-style: normal;

  }.btn-event{

      background: pink;
      position: absolute;
      top: 0;
      right: 0;
      
  }.btn-event button{
      
      background-color:transparent;

      padding: 0;
      width: 18px;
      height: 18px;
      border: 0;
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      
  }.btn-event button::after{

      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image:  url("./images/back_forward.png");
      background-repeat: no-repeat;
  }
  .btn-event-next::after{
      background-position: 100% 0;

  /* }.related-list{
      list-style: none;
      background: #fff;
      height: 27px;
      border: 1px solid #aaa;
      border-radius: 5px;
      padding: 0 0 0 1em;
      line-height: 27px;

  }.related li{
      
}.related li a{
    width: 100%;
     */
  
  /* .event{
      background: pink;
      position: relative;
  }
  .orange{
      color: #ef8426;
  }
  .event-heading{
      
      font-size: 1.5rem;
      margin: 0;

  }#event-detail{
      text-align: center;
      
  }#event-detail img{
      box-shadow: 5px 5px 0 0 #aaa;
  }
  .btn-event{
      background: orange;
      width: 55px;
      position: absolute;
      top: 0;
      right:0;
      text-indent: 100px;
      white-space: nowrap;
      text-overflow: hidden;
      background: url("./images/back_forward.png") no-repeat;

  }.btn-event-prev{
      width:19px;
      top: 0;
      right: 55px;

  }.btn-event-next{
      width: 19px;
      top: 0;
      right: 0; */

  
  }.favorite{
      
    padding: 0 10px;
    margin-top: 20px;

    background: #ccc linear-gradient(#ccc,#eee);
    border: 1px solid #aaa;
    border-radius: 10px;

    position: relative;

  }.favorite-list{
     
      padding-left: 0;
      list-style: none;
      counter-reset: 0;

  }.favorite-list li{

      counter-increment: number;
      /* background: yellow; */
      margin: 8px 0;
      position: relative;
      
      /* font-size: 20px; */
      /* display: flex;
      align-items: center; */
      

  }.favorite-list li::before{

      content: counter(number);
      color: #fff;
      font-size: 1.2rem;
      background: #999;
      border-radius: 3px;
      padding: 2px 5px;
      margin-right: 5px ;
      display: inline-block;

      /* float: left; */

  }.favorite-list a{
      /* background: #ef8426; */
      display: inline-block;
      vertical-align: middle;
      /* float: left; */
  }
  .favorite-list em{
      /* background: lime url("./images/rank.png")no-repeat; */
      background:  url("./images/rank.png")no-repeat;
      /* margin-left: auto; */
      font-style: normal;
      width: 9px;
      height: 11px;
      text-indent: 10px;
      white-space: nowrap;
      overflow: hidden;
      /* float: right; */
      margin-top: -5px;
      position: absolute;
      top: 50%;
      right: 0;

  }em.stop{
      background-position: 0 50%;


  }em.down{
      background-position: 0 100%;

  }.favorite-more{
      position:absolute;
      top: 10px;
      right: 10px;
  }.favorite-more::before{
      color: hsla(110, 70%, 50%, 1);
  }
  /* }.no1::before{
      content: "1";

  }.no2::before{
    content: "2";
  }.no3::before{
    content: "3";
  }.no4::before{
    content: "4";
  } */
  /* }.faovorite-heading span{
      color: #ef8426;

  }.favorite-heading{
      font-size: 1.5rem;
      
  }.favorite-list{
      list-style: none;
      background: pink;
      padding-left: 0;
      
     

  }.favorite-list::before{

      border: 1px solid black;
      content:
      background-color: #666;
  }
  
  .favorite-list li{
   background: purple;
   position: relative;
   display: flex;

   

  }.favorite-list a{
      background: skyblue;
      display: block;
      
     
  }.favorite-list em{
      align-items: flex-end;
      background: #e8bc2e;
      margin-left:auto;
      background: url("./images/rank.png") no-repeat;
      
    
  }
  .favorite-more{
      position: absolute;
      top: 0;
      right: 0; */

  /* 슬로건 */
 
.slogan{
    position: relative;
    background: orange;
    padding: 15px 100px 15px 30px;
    display: flex;
    flex-wrap: wrap;

}.slogan-heading{
    position: relative;
    /* position: absolute; */
    /* bottom: -25px; */
    /* left: 30px; */
    margin: 0;
    width:110px;
    height: 83px;
    /* text-align: center;
    line-height: 83px; */
    background: lime;
    font-size: 1.4rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    /* float: left; */
    /* margin-bottom: -25px; */
    flex: 4 0 110px;

    
}
.slogan-heading::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./images/coffee.png")no-repeat;
}.slogan-content {
    background: aqua;
    color: #a09784;
    line-height: 1.5;
    margin: 0;
    /* font-size: 1.3rem; */
    /* float: right;
    width: 615px; */
    flex: 8 0 auto;
}
/* .slogan{

    background-color: orange;
    padding: 15px 0;
    position: relative;
    
}.slogan-heading{
    margin: 0;
    text-indent: -9999px;
    text-overflow: hidden;
    white-space: nowrap;
    background: red url("./images/coffee.png") no-repeat;
    width: 110px;
    height: 83px;
    position: absolute;
    top: 10px;
    left: 0;

    
}.slogan-content{

    color: #a09784;
    background: yellow;
    width: 670px;
    margin: 0 0 0 130px;


}.slogan-content q::before{
    /* content: """; */
    
    

.footer-bg{
    background-color:  silver;
    padding: 15px 0;
}
.footer{
    background-color: yellow;
}
